* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text: #000000;
    --background: #f5f5f5;
    --primary: #90BC35;
    --secondary: #FFF78C;
    --accent: #183D8B;
    --white: #FFFFFF;
}

body {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    background-color: var(--background);
}

.position-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    a {
        background-color: var(--primary);
        padding: 20px;
        font-size: 20px;
        border-radius: 100%;
        &:hover {
            background-color: var(--text);
        }
    }
}

nav {
    background-color: var(--background);
    padding: 1rem 1.5rem;
    .btn-primary {
        padding: 10px 30px;
        background-color: var(--primary);
        border: 1px solid var(--primary);
        color: var(--white);
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: var(--text);
            color: var(--white);
        }
    }
    .logo {
        width: 5rem;
        border-radius: 10px;
    }
    ul {
        a {
            text-decoration: none;
            color: var(--text);
            &:hover {
                color: var(--primary);
            }
        }
        i {
            font-size: 24px;
        }
        .active {
            color: var(--primary);
        }
    }
    #toggle,
    label {
        display: none;
    }
    @media (max-width: 40.625em) {
        .menu {
            width: 100%;
            height: 0;
            overflow: hidden;
        }
        .bx-menu {
            font-size: 2rem;
        }
        ul {
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0;
        }
        label {
            display: inline-flex;
            color: var(--text);
            cursor: pointer;
        }
        #toggle:checked~.menu {
            height: 100%;
        }
    }
}

.container {
    background-color: var(--white);
    padding: 20px;
    border-radius: 20px;
    .btn-success {
        background-color: var(--accent);
    }
}