* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text: #000000;
    --background: #f5f5f5;
    --primary: #90BC35;
    --secondary: #FFF78C;
    --accent: #183D8B;
    --white: #FFFFFF;
}

body {
    max-width: 1250px;
    width: 100%;
    margin: auto;
    background-color: var(--background);
}