* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text: #000000;
  --background: #f5f5f5;
  --primary: #90BC35;
  --secondary: #FFF78C;
  --accent: #183D8B;
  --white: #FFFFFF;
}

body {
  max-width: 1250px;
  width: 100%;
  margin: auto;
  background-color: var(--background);
}

.position-bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
.position-bottom-right a {
  background-color: var(--primary);
  padding: 20px;
  font-size: 20px;
  border-radius: 100%;
}
.position-bottom-right a:hover {
  background-color: var(--text);
}

nav {
  background-color: var(--background);
  padding: 1rem 1.5rem;
}
nav .btn-primary {
  padding: 10px 30px;
  background-color: var(--primary);
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
nav .btn-primary:hover {
  background-color: var(--text);
  color: var(--white);
}
nav .logo {
  width: 5rem;
  border-radius: 10px;
}
nav ul a {
  text-decoration: none;
  color: var(--text);
}
nav ul a:hover {
  color: var(--primary);
}
nav ul i {
  font-size: 24px;
}
nav ul .active {
  color: var(--primary);
}
nav #toggle,
nav label {
  display: none;
}
@media (max-width: 40.625em) {
  nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  nav .bx-menu {
    font-size: 2rem;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  nav label {
    display: inline-flex;
    color: var(--text);
    cursor: pointer;
  }
  nav #toggle:checked ~ .menu {
    height: 100%;
  }
}